[package]
name = "smash-platform"
version.workspace = true
edition.workspace = true

[dependencies]
thiserror = { workspace = true }
tracing = { workspace = true }
dirs = "5"

[dev-dependencies]
tempfile = "3"
